*                                        @Simba-Avionic/avionic-admin
communication-core/network-data          @Simba-Avionic/avionic-admin
communication-core/sockets               @Simba-Avionic/avionic-admin
