*                                        @Simba-Avionic/avionic-admin
communication-core/someip                @bartoszsnieg
communication-core/someip-controller     @bartoszsnieg
communication-core/network-data          @bartoszsnieg
communication-core/sockets               @bartoszsnieg
