build:bbb --crosstool_top=//bazel/toolchain/arm-cortex_a8-linux-gnueabihf:gcc_toolchain --cpu=armv7

build:platform_build --incompatible_enable_cc_toolchain_resolution --crosstool_top=//bazel/toolchain/arm-cortex_a8-linux-gnueabihf:gcc_toolchain 
build:bbb-platform --config=platform_build --config=adaptive --platforms=//bazel/platforms:bbb
build:adaptive -c opt --copt=-O3

build --action_env=BAZEL_CXXOPTS="-std=c++20" --config=adaptive
test --test_output=all
coverage --instrument_test_targets --experimental_cc_coverage --combined_report=lcov --instrumentation_filter="[:],-external/[:]" --coverage_report_generator=@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main