[submodule "deployment"]
	path = deployment
	url = git@github.com:Simba-Avionic/deployment.git

[submodule "desktop_gui"]
    path = tools/desktop_gui
	url = git@github.com:Simba-Avionic/desktop_gui.git