[submodule "deployment"]
	path = deployment
	url = git@github.com:Simba-Avionic/deployment.git
	
[submodule "libdoip"]
	path = libdoip
	url = https://github.com/Simba-Avionic/libdoip

[submodule "desktop_gui"]
    path = tools/desktop_gui
	url = git@github.com:Simba-Avionic/desktop_gui.git
[submodule "third_party/python/someipy"]
	path = third_party/python/someipy
	url = git@github.com:Simba-Avionic/someipy.git
