[submodule "desktop_gui"]
    path = tools/desktop_gui
	url = git@github.com:Simba-Avionic/desktop_gui.git
[submodule "deployment/system_definition"]
	path = deployment/system_definition
	url = git@github.com:Simba-Avionic/system_definition.git
[submodule "third_party/python/someipy"]
	path = third_party/python/someipy
	url = git@github.com:Simba-Avionic/someipy.git
[submodule "libdoip"]
	path = libdoip
	url = https://github.com/Simba-Avionic/libdoip
