name: SRP Build All

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-all:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build All
        run: |
          ./tools/build_all/build_all.sh

