name: SRP cpplint Check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cpplint:
    name: Run CppLint Check
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run cpplint
        run: |
          /bin/bash ./tools/cpplint/cpplint.sh