name: SRP Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master


jobs:
  bazel-test:
    name: Run SRP Unit Tests
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run Bazel tests
        run: |
          bazel test --nocache_test_results $(bazel query 'kind(cc_test, //...)')
